<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>Главная страница</h1>

    <p>Выберите, что хотите сделать:</p>

    <button class="btn btn-primary" onclick="location.href='/calculator'">
        Калькулятор
    </button>
    <button class="btn btn-secondary" onclick="location.href='/converter'">
        Конвертер валют
    </button>
</div>
</body>
</html>
